.DS_Store
.vscode
.cache
.vscode
*.log
report
build
dist
es
debug
coverage
now-secrets.json
release
VERSION
node_modules
.rts*

.history
.next
**/*/yarn.lock
**/*/package-lock.json

*/tmp/**/*.js
*/tmp/**/*.txt
*/tmp/**/*.json
